@import url(/css/main.css);

table,thead,tbody,tr,td,th {
    border: 1px solid #eeeef5;
}

.library-main-wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.top-box {
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.top-box>svg, .top-box>i {
    color: #aeaeae;
    position: relative;
    top: 2px;
}

.top-box>span {
	position: relative;
	top: 2px;
	font-size: 14px;
}

.top-box>a>span {
	font-size: 14px;
    font-weight: bold;
}

.main-community-wrap {
    margin: 60px 0 60px 0;
}

.community-title {
    text-align: center;
    margin-bottom: 40px;
}

.community-title>h1 {
    font-size: 32px;
    font-weight: bold;
}

.community-tab-wrap {
    background-color: #f8f9fa;
    border-radius: 30px;
    margin-bottom: 40px;
}

.community-tab-box {
    max-width: 800px;
    margin: auto;
    justify-content: center;
}

.community-tab-box>.active {
    color: #fff;
    background-color: #4b4dff;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 20%), 1px 1px 1px rgb(0 0 0 / 60%);
}

.tab {
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    text-align: center;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.inquiry-search-wrap .search-box {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
}

.search-box>div {
    width: 100%;
    justify-content: end;
}

.search-select {
    border: 1px solid #eee;
    font-size: 13px;
    width: 75px;
    padding: 0 7px;
    border-right: 0;
}

.inquiry-search-wrap .book-search {
    max-width: 230px;
    border: 1px solid #eee;
    padding: 7px 10px;
    font-size: 13px;
    border-radius: 0;
} 

.inquiry-search-wrap .search-btn {
    border-radius: 0;
}

.inquiry-table-wrap table {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

table {
	position: relative;
}

table::before {
	content: '';
	position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(0deg, rgba(75,68,143,1) 0%, rgba(116,107,205,1) 50%, rgba(75,68,143,1) 100%);
  	z-index: 1;
}

thead>tr>th {
    padding: 8px;
    font-size: 13px;
    color: black;
    font-weight: 700;
    border: 1px solid #eeeef5;
    background-color: #f8f9fa;
    vertical-align: middle;
}

tbody>tr>td {
	align-items: center;
    padding: 7px 5px;
    font-size: 13px;
    line-height: 20px;
    color: black;
    border: 1px solid #eeeef5;
    background-color: #fff;
    vertical-align: middle;
}

.th-title {
	width: 600px;
}

.icon {
    position: relative;
    top: -2px
}

.inquiry-pagination {
    justify-content: center;
    font-size: 12px;
    gap:3px;
    flex-wrap: wrap;
}

ul.inquiry-pagination a.page-link {
	border: 0;
}

.first a,
.last a,
.prev a,
.next a {
	display: flex;
    justify-content: center;
    align-items: center;
	color: black;
	font-weight: 100;
    height: 32px;
}

.number {
	display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0;
    width: 32px;
    height: 32px;
    text-align: center;
	border-radius: 50%;
}

.page-item.active .page-link {
    background-color: #4B4DFF;
    border-color: #4B4DFF;
    border-radius: 50%;
    font-weight: bold;   
}

.page-item i {
	font-size: 10px;
}

.write-box {
    text-align: end;
}

.write-btn {
    background-color: #4B4DFF;
    border-color: #4B4DFF;
    border-radius: 6px;
    padding: 10px 18px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.write-btn:hover {
    color:white
}

.bottom-wrap {
    max-width: 1200px;
    margin: 70px 0px 100px 0px;
    padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.bottom-box {
    max-width: 450px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.bottom-box>.item {
    align-items: center;
}

.bottom-title>div {
    width: 23px;
    padding: 2px 0;
    border-radius: 50%;
    background: #4b448f;
    color: white;
    font-size: 12px;
    margin-right: 5px;
}

.fa-question {
    position: relative;
    left: 8px;
}

.bottom-title>h4 {
    font-size: 14px;
    font-weight: bold;
    color: #4b448f;
}

.bottom-box>.item>i {
    font-size: 15px;
    margin-right: 10px;
}

.bottom-box>.item>h5 {
	font-size: 16px;
}

.bottom-box>.item>h5 {
    font-size: 14px;
    font-weight: 100;
}

@media screen and (max-width: 992px) {
	
    thead {
    	display: none;
    }
       
     tbody>tr {
    	text-align: left;
    	border-bottom: 1px solid #eeeef5;
    }
    
    tbody>tr>td {
    	display: inline-flex;
    	padding-top: 0;
    	padding-bottom: 10px;
    	border: 0;
    }
    
    td.title {
    	width: 100%;
    	padding-top: 10px;
    	padding-bottom: 5px;
    }
    
    .user-box>span::after,
    .td-regDate>span::after,
    .td-state>span::after {
    	content: "";
    	border-right: 1px solid #ddd;
    	margin-left: 8px;
    }
    

    
    table,
    thead, 
    tbody, 
    tr, 
    td, 
    th {
    	border:0;
    }
    
    .table-num {
    	display: none;
    }
	
}


@media screen and (max-width: 576px) {

    .community-tab-box {
        flex-direction: column;
    }

    .tab {
        width: 100%;
    }
    
    .bottom-wrap {
        padding: 10px;
    }

    .bottom-box {
        flex-direction: column;
        gap: 8px;
    }
}
