@import url(/css/main.css);

table,thead,tbody,tr,td,th {
    border: 1px solid #eeeef5;
}

.library-main-wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.top-box {
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.top-box>svg, .top-box>i {
    color: #aeaeae;
    position: relative;
    top: 2px;
}

.top-box span {
    position: relative;
    top: 2px;
	font-size: 14px;
}

.top-box>a>span {
    font-weight: bold;
}

.main-community-wrap {
    margin: 60px 0 60px 0;
}

.community-title {
    text-align: center;
    margin-bottom: 40px;
}

.community-title>h1 {
    font-size: 32px;
    font-weight: bold;
}

.community-tab-wrap {
    background-color: #f8f9fa;
    border-radius: 30px;
    margin-bottom: 40px;
}

.community-tab-box {
    max-width: 800px;
    margin: auto;
    justify-content: center;
}

.community-tab-box>.active {
    color: #fff;
    background-color: #4b4dff;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 20%), 1px 1px 1px rgb(0 0 0 / 60%);
}

.tab {
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    text-align: center;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.notice-content-wrap {
    width: 100%;
    border-top: 4px solid rgb(75,68,143);
    margin-bottom: 60px;
}

.content-top-wrap {
    padding: 20px 20px 10px;
    border-bottom: 1px solid #eee;
}

.content-top-wrap>h5 {
    font-weight: bold;
    margin-bottom: 13px;
}

.attachments-wrap {
    margin-top: 10px;
}

.attachments-box {
    align-items: center;
}

.attachments-box>img {
    width: 16px;
    margin-right: 5px;
}

.attachments-box>a {
	font-size: 12px;
}

.data-box {
    font-size: 15px;
}

.data-box .title {
    margin-right: 10px;
}

.data-box .content {
    font-weight: bold;
    margin-right: 20px;
}

.content-main-wrap {
    font-size: 15px;
    border-bottom: 1px solid #eee;
    padding: 30px 20px 40px 20px;
    margin-bottom: 10px;
}

.content-main-wrap img,
.content-main-wrap table {
	max-width: 100%
}

.btn-box {
    text-align: end;
    margin-bottom: 50px;
}

.btn-box .btn{
    background-color: #444;
    border: #444;
    color: white;
    font-size: 13px;	
}

.btn-box btn:hover {
	color: white;
}

.edit-btn {
    margin-right: 5px;
}

.list-btn-box {
    text-align: center;
}

.list-btn {
    background: #f3f5f9;
    width: 140px;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {

    .community-tab-box{
        flex-direction: column;
    }

    .tab {
        width: 100%;
    }
    
    .content-data-box {
   	    flex-direction: column;
    }
    
    .content-top-wrap>h5 {
   	    font-size: 16px;
    }
    
    .data-box {
    	font-size: 13px;
	}
    
}
