@import url(/css/main.css);

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
   	margin: 0;
}

.library-main-wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.top-box {
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.top-box>svg, .top-box>i {
    color: #aeaeae;
    position: relative;
    top: 2px;
}

.top-box>a>span {
	font-size: 14px;
}

.top-box>a:first-of-type>span {
	font-weight: bold;
}

.page-now {
    font-weight: bold;
    color: black;
}

.main-myLibrary-wrap {
    margin: 60px 0 60px 0;
}

.myLibrary-title {
    text-align: center;
    margin-bottom: 40px;
}

.myLibrary-title>h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-wrap {
    border: 1px solid #cfcfda;
    border-radius: 15px;
    padding: 30px;
}

.myLibrary-box {
    align-items: baseline;
    padding: 20px 0;
    
}

.myLibrary-box:first-child {
    border-bottom: 1px dashed #CFCFDA;
    padding-top: 0;
}

.myLibrary-box:last-child {
    padding-bottom: 10px;
}

.myLibrary-box>h4 {
	font-size:16px;
    font-weight: bold;
    margin-right: 40px;
    width: 130px;
}

.item-box {
    gap: 10px;
    font-size: 14px;
    flex-wrap: wrap;
}

.item-box .active {
    color: #4b4dff;
    font-weight: bold;
}

.bottom-login-wrap {
    text-align: center;
    font-size: 14px;    
    margin-bottom: 50px;
}

.bottom-login-wrap>h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #4b4dff;
    border-color: #4b4dff;
    margin-top: 20px;
    padding: 5px 15px;
}

.login-btn:hover {
    color: white;
}

.bottom-hopeBook-wrap {
    margin-top: 50px;
}

.hopeBook-text-box {
    margin-bottom: 20px;
}

.hopeBook-text-box h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

.hopeBook-text-box p {
    font-size: 14px;
}


.hopeBook-text-box p>span {
    font-weight: bold;
}

.hopeBook-text-box p:nth-of-type(2) {
    color: red;
    font-weight: bold;
}

.apply-btn {
    font-size: 13px;
    font-weight: bold;
    color: #4b448f;
    background-color: transparent;
    border-color: #4b448f;
    margin-top: 20px;
    margin-bottom: 20px;
}

.apply-btn:hover {
    background-color: #4b448f;
    color: white;
}

.hopeBook-count-box {
    font-size: 14px;
    margin-bottom: 20px;
}

.hopeBook-count-box p {
    font-weight: bold;
}

.hopeBook-count{
    color:#4b4dff
}

.no-list-box {
    border: 1px solid #eeeef5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.no-book-box h5 {
    text-align: center;
    font-weight: bold;
    color: #999;
    margin: 30px 0;
    font-size: 14px;
}

.bottom-hopeBook-wrap table {
    width: 100%;
    text-align: center;
    border-top: 4px solid rgb(75,68,143);
    margin-bottom: 60px;
}

thead>tr>th {
    padding: 8px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    border: 1px solid #eeeef5;
    background-color: #f8f9fa;
    vertical-align: middle;
}

tbody>tr>td {
    padding: 7px 5px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border: 1px solid #eeeef5;
    background-color: #fff;
    vertical-align: middle;
}

tbody>tr>td.title {
    text-align: left;
    padding-left: 10px;
}

.book-name {
    text-align: left;
}

.book-name:hover a {
    color: black;
    text-decoration: underline;
}

.apply-write-wrap h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.apply-write-box {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #cfcfda;
}

.apply-box {
    border-bottom: 1px solid #cfcfda;
}

.apply-box:last-of-type {
    border-bottom: 0;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #f3f5f9;
    padding: 13px;
    font-weight: bold;
    font-size: 14px;
}

.apply-input {
    margin: 10px 15px;
    margin-right: 0px;
    width: 60%;
    border: 1px solid #cfcfda;
    font-size: 14px;
    padding: 5px 10px;
}

.apply-box h4 {
    position: relative;
    top: 17px;
    font-size: 13px;
    font-weight: bold;
}

.apply-box p {
    position: relative;
    top: 15px;
    font-size: 13px;
    margin-left: 10px;
}

.apply-box textarea {
    margin: 15px;
    max-width: 1000px;
    border: 1px solid;
    border-color: #CCC #DDD #DDD #CCC;
    border-radius: 3px;
}

.apply-bottom-box {
    justify-content: center;
    align-items: center;
}

.basic-btn {
    font-size: 14px;
    width: 140px;
    background: black;
    color: white;
    font-weight: bold;
    padding: 13px;
    border-radius: 5px;
    margin-right: 5px;
}

.basic-btn:hover {
    color: white;
}

.cancel-btn {
    background-color: #757583;
    border-color: #757583;
}

.apply-bottom-box .apply-btn {
    background-color: #4b4dff;
    border-color: #4b4dff;
}





@media screen and (max-width: 576px) {

    .apply-box {
        flex-direction: column;
    }

    label {
        width: 100%;
    }

    .apply-input {
        width: auto!important;
        margin-right: 15px;
    }

    .apply-box p {
        top: 0;
        margin-bottom: 10px;
    }

    .apply-box h4 {
        top: -5px;
    }
    
}