@import url(/css/main.css);

.library-main-wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.top-box {
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.top-box>svg, .top-box>i {
    color: #aeaeae;
    position: relative;
    top: 2px;
}

.top-box>a>span {
    position: relative;
    top: 2px;
	font-size: 14px;
}

.top-box>a:first-of-type>span {
	font-weight: bold;
}

.page-now {
    font-weight: bold;
    color: black;
}

.main-myLibrary-wrap {
    margin: 60px 0 60px 0;
}

.myLibrary-title {
    text-align: center;
    margin-bottom: 40px;
}

.myLibrary-title>h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-wrap {
    border: 1px solid #cfcfda;
    border-radius: 15px;
    padding: 30px;
}

.myLibrary-box {
    align-items: baseline;
    padding: 20px 0;
    
}

.myLibrary-box:first-child {
    border-bottom: 1px dashed #CFCFDA;
    padding-top: 0;
}

.myLibrary-box:last-child {
    padding-bottom: 10px;
}

.myLibrary-box>h4 {
	font-size:16px;
    font-weight: bold;
    margin-right: 40px;
    width: 130px;
}

.item-box {
    gap: 10px;
    font-size: 14px;
    flex-wrap: wrap;
}

.item-box .active {
    color: #4b4dff;
    font-weight: bold;
}

.bottom-login-wrap {
    text-align: center;
    font-size: 14px;    
    margin-top: 50px;
}

.bottom-login-wrap>h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #4b4dff;
    border-color: #4b4dff;
    margin-top: 20px;
    padding: 5px 15px;
}

.bottom-loan-wrap {
    margin-top: 50px;
}

.loan-text-box {
    font-size: 14px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 7px;
}

.loan-text-box p:first-child {
    font-weight: bold;
}

.loan-text-box p:nth-of-type(2) span {
    font-weight: bold;
}

.loan-count{
    color:#4b4dff
}

.detail-btn {
   	font-size: 12px;
    padding: 4px 10px;
    border: 1px solid #4b4dff;
    color: black;
    font-weight: bold;
}

.no-list-box {
    border: 1px solid #eeeef5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.no-book-box h5 {
    text-align: center;
    font-weight: bold;
    color: #999;
    margin: 30px 0;
    font-size: 14px;
}

.bottom-loan-wrap table {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

table {
	position: relative;
}

table::before {
	content: '';
	position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(0deg, rgba(75,68,143,1) 0%, rgba(116,107,205,1) 50%, rgba(75,68,143,1) 100%);
  	z-index: 1;
}

thead>tr>th {
    padding: 8px;
    font-size: 13px;
    color: black;
    font-weight: 700;
    border: 1px solid #eeeef5;
    background-color: #f8f9fa;
    vertical-align: middle;
}

tbody>tr>td {
	align-items: center;
    padding: 7px 5px;
    font-size: 13px;
    line-height: 20px;
    color: black;
    border: 1px solid #eeeef5;
    background-color: #fff;
    vertical-align: middle;
}


tbody>tr>td>.td-title {
	display: none;
	flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 90px;
    min-height: 40px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    background: #f3f5f9;
    border-right: 1px solid #eeeef5;
}

.loanBook-text {
    text-align: left;
}

.book-name:hover a {
    color: black;
    text-decoration: underline;
}

.extend-btn {
    color: #ff4b5c;
    border-color: #ff4b5c;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 12px;
}

.extend-btn:hover {
	color: #ff4b5c;
}

.extend-btn .fa-solid {
	transform: rotatey(180deg);
	margin-right: 3px;
}

.login-btn:hover{
    color: white;
}

@media screen and (max-width: 576px) {


    thead {
    	display: none;
    }
    
    table {
   	    display: flex;
    	flex-direction: column;
    }
    
    table::before {
    	display: none;
    }
    
     tbody>tr {
    	display: flex;
    	flex-direction: column;
    	border: 0;
    }
    

	tbody>tr>td {
		display: flex;
	    gap: 10px;
	    font-size: 12px;
	}
    
    tbody>tr>td {
    	padding: 0;
    }
    
    tbody>tr>td>.td-title {
    	display: flex;
    }
    
	tr::before {
		content: '';
	    top: 0;
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 3px;
	    background: linear-gradient(0deg, rgba(75,68,143,1) 0%, rgba(116,107,205,1) 50%, rgba(75,68,143,1) 100%);
   		z-index: 1;
	}
    
    table, thead, tbody, tr, td, th {
    	border:0;
    }
    
}